.login-pf body {
    background: #800000;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;             /* spacing between image and text */
    height: 63px;
    width: 300px;
    margin: 0 auto;
}

div.kc-logo-text::before {
    content: "";
    display: inline-block;
    background-image: url("../img/Maniac_Logo_extended.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 63px;           /* adjust if logo should be wider/narrower */
}

div.kc-logo-text span {
    display: inline-block;
}

