.login-pf body {
    background: #800000;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* Remove any default Keycloak background image */
    background-image: none !important;
    background-repeat: unset;
    background-size: unset;

    height: 63px;
    width: 100%;
    margin: 0 auto;
}

/* Add your logo image to the left of the text */
div.kc-logo-text::before {
    content: "";
    display: inline-block;
    background-image: url("../img/Maniac_Logo_extended.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 63px;
    width: 248px; /* Maintains correct 4:1 aspect ratio */
}

div.kc-logo-text span {
    display: inline-block;
}

