.login-pf body {
    background: #800000;
    background-size: cover;
    height: 100%;
}

div.kc-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* Remove Keycloak’s default background */
    background-image: none !important;
    background-repeat: unset;
    background-size: unset;

    height: 63px;
    width: 100%;
    margin: 0 auto;
}

/* Logo on the left as a pseudo-element */
div.kc-logo-text::before {
    content: "";
    display: inline-block;

    background-image: url("../img/maniaclogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 63px;
    width: 47px;  /* scaled for 342×462 image */
}

div.kc-logo-text span {
    display: inline-block;
}

