.login-pf body {
    background-image: url('../img/ATLAS-Logo-Square-Blue-CMYK.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;   /* required for overlay */
}

.login-pf body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 0, 0, 0.3); /* maroon with 60% opacity */
    z-index: 0;
}

.login-pf {
    position: relative;
    z-index: 1;
}

div.kc-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    /* Remove Keycloak’s default background */
    background-image: none !important;
    background-repeat: unset;
    background-size: unset;

    height: 63px;
    width: 100%;
    margin: 0 auto;
}

/* Logo on the left as a pseudo-element */
div.kc-logo-text::before {
    content: "";
    display: inline-block;

    background-image: url("../img/maniaclogo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    height: 63px;
    width: 47px;  /* scaled for 342×462 image */
}

div.kc-logo-text span {
    display: inline-block;
}
